.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}

.player iframe{
    border-radius: 10px;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    color: rgb(228, 57, 148);
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

.info{
    color: lightseagreen;
}